  
  nav {
    background-color: #28d6e2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
  }
  
  .navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #header img {
    width: 80px;
  }
  
  #usuario img {
    width: 70px;
    height: 70px;
  }
  #gato img {
   
    width: 45px;
    height: 45px;
    
  }
 
  
  #masmelo img {
    width: 40px;
  }
  .container {
    display: flex;
  }
  
  .left, .right {
    flex: 1;
    padding: 20px;
  }
  
  .left {
    background-color: #f2f2f2;
  }
  
  .right {
    background-color: #eaeaea;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  